<ion-view view-title="Student" class="has-bg">
  <div class="bar bar-header bar-energized">
    <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
    <h1 class="title">STUDENT PLANNER</h1>
    <button class="button icon ion-power" ng-click="onClickLogout()"></button>
  </div>
  <ion-content class="has-header" on-swipe-right="myGoBack()">
    <h4 class="text-white text-center" style="margin-top: 30px">{{title}}</h4>

    <h5 class="text-center" style="margin-top: 30px; color: red" ng-show="message != ''">{{message}}</h5>

    <div class="text-center" style="margin-top: 10px">
      <div class="div_center" style="width: 80%">
        <div class="row margin-top">
          <select class='form-control' ng-model="report_type">
            <option value="">School</option>
            <option>Cambridge</option>
            <option>Carmel</option>
          </select>
        </div>

        <div class="row margin-top">
          <input class="form-control input-sm margin-top" placeholder="User Name">
        </div>

        <div class="row margin-top" style="margin-top: 0px">
          <select class='form-control' ng-model="report_type">
            <option value="">Class</option>
            <option>1st</option>
            <option>3rd</option>
            <option>6th</option>
          </select>
        </div>

        <div class="row margin-top" style="margin-top: 0px">
          <select class='form-control' ng-model="report_type">
            <option value="">Identifier</option>
            <option>Red</option>
            <option>Green</option>
            <option>Blue</option>
          </select>
        </div>

        <div class="row margin-top" style="margin-top: 0px">
          <select class='form-control' ng-model="report_type">
            <option value="">Subject</option>
            <option>English</option>
            <option>Maths</option>
            <option>Science</option>
            <option>Computer</option>
            <option>Social</option>
          </select>
        </div>

      </div>

      <div class="div_center" style="width: 50%; ; margin-top: 20px" >
        <button class="button button-calm button-small" style="display: block; width: 100%" ng-click="onClickUpdate()">
          Save
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
