<ion-view view-title="Student" class="has-bg">
  <div class="bar bar-header bar-energized">
    <h1 class="title">STUDENT PLANNER</h1>
  </div>
  <ion-content class="has-header">
    <div style="margin-top: 80px; width: 100%; text-align: center">
      <div class="div_center" style="width: 70%">
        <select class='form-control' ng-model="report_type" ng-change="onChangeReportType()">
          <option>School</option>
          <option selected>Teacher</option>
          <option>Student</option>
          <option>Parent</option>
        </select>
      </div>
      <div class="div_center" style="width: 50%; ; margin-top: 20px" >
        <button class="button button-positive button-small" style="display: block; width: 100%">
          Teature Login
        </button>
        <button class="button button-positive button-small" style="display: block; width: 100%; margin-top: 10px">
          Student Login
        </button>
        <button class="button button-positive button-small" style="display: block; width: 100%; margin-top: 10px">
          Parent Login
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
