<ion-view view-title="Student" class="has-bg">
  <div class="bar bar-header bar-energized">
    <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
    <h1 class="title">STUDENT PLANNER</h1>
    <button class="button icon ion-power" ng-click="onClickLogout()"></button>
  </div>

  <ion-floating-button class="floating-small" click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff" ng-click="onClickAdd()">
  </ion-floating-button>

  <ion-content class="has-header" on-swipe-right="myGoBack()">
    <h4 class="text-white text-center" style="margin-top: 30px">{{title}}</h4>

    <h5 class="text-center" style="margin-top: 30px; color: red" ng-show="message != ''">{{message}}</h5>

    <div class="text-center" style="margin-top: 40px">
      <div class="div_center card" style="width: 80%; padding: 5px">
        <div class="row margin-top div_center" style="margin-top: 0px">
          <h5 class="text-black" >New Cambridge School</h5>
        </div>
        <div class="row margin-top" style="margin-top: 15px">
          <label class="text-black" style="text-align: left; margin-left: 4px">1st Class - Blue - English</label>
        </div>
        <div class="row margin-top">
          <label class="text-black" style="text-align: left; margin-left: 4px">18/9/16</label>
        </div>

        <div class="row margin-top">
          <label class="text-black" style="text-align: left; margin-left: 4px">Handwriting</label>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
