<ion-view view-title="Student" class="has-bg">
  <div class="bar bar-header bar-energized">
    <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
    <h1 class="title">STUDENT PLANNER</h1>
  </div>
  <ion-content class="has-header" on-swipe-right="myGoBack()">
    <h4 class="text-white text-center" style="margin-top: 70px">LOGIN</h4>

    <form class="form-validation" ng-submit="onClickLogin()">
      <div class="text-center" style="margin-top: 40px">
        <div class="div_center" style="width: 80%">
          <input class="form-control input-sm" ng-model="vm.email_id" placeholder="Email ID">

          <input class="form-control input-sm margin-top" ng-model="vm.password" placeholder="Password">
        </div>

        <div class="div_center" style="width: 50%; ; margin-top: 20px" >
          <button type="submit" class="button button-positive button-small" style="display: block; width: 100%">
            Login
          </button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
