<ion-view view-title="Student" class="has-bg">
  <div class="bar bar-header bar-energized">
    <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
    <h1 class="title">STUDENT PLANNER</h1>
    <button class="button icon ion-power" ng-click="onClickLogout()"></button>
  </div>

  <ion-floating-button class="floating-small" click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>

  <ion-content class="has-header">
    <h4 class="text-white text-center" style="margin-top: 30px">MANAGE SUBJECT</h4>

    <div class="text-center" style="margin-top: 10px">
      <div class="div_center" style="width: 80%">

      </div>
    </div>

  </ion-content>
</ion-view>
