<ion-view view-title="Student" class="has-bg">
  <div class="bar bar-header bar-energized">
    <button class="button icon ion-ios-arrow-back" ng-click="myGoBack()"></button>
    <h1 class="title">STUDENT PLANNER</h1>
    <button class="button icon ion-power" ng-click="onClickLogout()"></button>
  </div>
  <ion-content class="has-header" on-swipe-right="myGoBack()">
    <h4 class="text-white text-center" style="margin-top: 30px">EDIT SUBJECT</h4>

    <h5 class="text-center" style="margin-top: 30px; color: red" ng-show="message != ''">{{message}}</h5>

    <div class="text-center" style="margin-top: 10px">
      <div class="div_center" style="width: 80%">
        <div class="row margin-top">
          <select class='form-control' ng-model="vm.subject_data.class_id" ng-options="value.Class_ID as value.Class_Name for (key, value) in vm.class_list">
          </select>
        </div>
        <div class="row margin-top" style="margin-top: 0px">
          <select class='form-control' ng-model="vm.subject_data.identifier_id" ng-options="value.Identifier_ID as value.Identifier_Name for (key, value) in vm.identifier_list">
          </select>
        </div>
        <div class="row margin-top" style="margin-top: 0px">
          <select class='form-control' ng-model="vm.subject_data.subject_id" ng-options="value.Subject_ID as value.Subject_Name for (key, value) in vm.subject_list">
          </select>
        </div>
      </div>

      <div class="div_center" style="width: 50%; ; margin-top: 20px" >
        <button class="button button-calm button-small" style="display: block; width: 100%" ng-click="onClickUpdate()">
          Update
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
